<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-twilio-chat" version="2.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TwilioChat</name>
    <author>Twilio</author>
    <keywords>twilio,twilio-chat,chat</keywords>
    <license>MIT</license>
    <js-module name="TwilioChat" src="www/twilio-chat.min.js" >
        <clobbers target="TwilioChat" />
    </js-module>
</plugin>
